{{- /* Render a single taxonomy badge. Usage: {{ partial "badge.html" (dict "taxonomy" "stages" "term" "register") }} */ -}}
{{- $taxonomy := .taxonomy -}}
{{- $term := .term -}}
{{- $name := $term -}}
{{- $emoji := "" -}}
{{- $color := "#9aa0a6" -}}
{{- if eq $taxonomy "stages" -}}
  {{- range first 1 (where site.Data.stages "slug" $term) -}}
    {{- if .name }}{{ $name = .name }}{{ end -}}
    {{- if .emoji }}{{ $emoji = .emoji }}{{ end -}}
    {{- if .color }}{{ $color = .color }}{{ end -}}
  {{- end -}}
{{- else if eq $taxonomy "specialties" -}}
  {{- range first 1 (where site.Data.specialties "slug" $term) -}}
    {{- if .name }}{{ $name = .name }}{{ end -}}
    {{- if .emoji }}{{ $emoji = .emoji }}{{ end -}}
    {{- if .color }}{{ $color = .color }}{{ end -}}
  {{- end -}}
{{- else if eq $taxonomy "cities" -}}
  {{- range first 1 (where site.Data.cities "slug" $term) -}}
    {{- if .name }}{{ $name = .name }}{{ end -}}
    {{- if .emoji }}{{ $emoji = .emoji }}{{ end -}}
    {{- if .color }}{{ $color = .color }}{{ end -}}
  {{- end -}}
{{- end -}}
{{- $href := "" -}}
{{- with site.GetPage (printf "/%s/%s" $taxonomy $term) -}}
  {{- $href = .RelPermalink -}}
{{- end -}}
{{- if $href -}}
<a class="badge" href="{{ $href }}" style="--badge-color: {{ $color }}">
  {{- with $emoji }}<span class="badge__emoji" aria-hidden="true">{{ . }}</span>{{ end -}}
  <span class="badge__text">{{ $name }}</span>
</a>
{{- else -}}
<span class="badge" style="--badge-color: {{ $color }}">
  {{- with $emoji }}<span class="badge__emoji" aria-hidden="true">{{ . }}</span>{{ end -}}
  <span class="badge__text">{{ $name }}</span>
</span>
{{- end -}}
